<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>3840</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>2160</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>0</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStoreHEVCConfigsDictionary</key>
	<dict/>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1080</real>
			<real>0.0</real>
			<real>-1</real>
			<real>0.0</real>
			<real>1920</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsProRes422_709</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	iblXKvYIvzYQ/RqVWY4WKQ==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwVVSRudWxs1A0ODxAREhMU
	Wk5TTG9jYXRpb25WJGNsYXNzXE5TUmFuZ2VDb3VudFhOU0xlbmd0aBEC4YACEAERAU3S
	FhcYGVokY2xhc3NuYW1lWCRjbGFzc2VzXxARTlNNdXRhYmxlSW5kZXhTZXSjGhscXxAR
	TlNNdXRhYmxlSW5kZXhTZXRaTlNJbmRleFNldFhOU09iamVjdAgRGiQpMjdJTFFTV11m
	cXiFjpGTlZidqLHFyd3oAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAAPE=
	</data>
</dict>
</plist>
