<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>270</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>236</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStoreHEVCConfigsDictionary</key>
	<dict/>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.15225806451612903</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>118</real>
			<real>0.0</real>
			<real>-0.15288788221970556</real>
			<real>0.0</real>
			<real>135</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	6Ad/+Pw81d/CuEdFtp+M/w==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGlCwwTFx5VJG51bGzTDQ4PEBES
	XE5TUmFuZ2VDb3VudFYkY2xhc3NbTlNSYW5nZURhdGERASuABIAC0hQOFRZXTlMuZGF0
	YU8RA28OARIBGAEfASgBNQE3AkUBSQFYAl4BYgFpAW4CcgF0AnoBfAGEAQGTAQGbAQGd
	AQGfAQGqAQKxAQHMAQHPAQLbAQHdAQHxAQH1AQGDAgGJAgGMAgKcAgGeAgGgAgGnAgG3
	AgG9AgHNAgLXAgHZAgHbAgHeAgPrAgHuAgHwAgH0AgGVAwGaAwGeAwG5AwG/AwHBAwLe
	AwHjAwKRBAGUBAGbBAGrBAGuBAG8BAHIBAPMBAHgBAHmBAHtBALxBAH1BAH9BAGUBQGt
	BQGzBQHKBQHQBQHbBQHfBQHkBQHnBQPsBQLxBQH0BQH4BQH6BQL/BQGCBgKFBgKJBgSQ
	BgGUBgGXBgGcBgKhBgGkBgOoBgStBgKyBgS3BgG5BgK/BgXFBgbNBgHPBgPUBgLXBgHa
	BgPgBgTlBgLoBgTtBgLwBgHyBgb7BgH9BgH/BgSEBwSJBwGLBwGOBwGQBwGSBwmeBwGg
	BwSlBwKqBwGtBwKwBwGzBwS4BwS9BwLABwHCBwLIBwLLBwHNBwHPBwHRBwHTBwHVBwPZ
	BwPdBwTiBwHkBwPoBwHqB2bSCAHUCAPYCAHbCATgCALkCALnCAHrCAHtCAPxCAT3CAH6
	CAL9CAKACQGDCQKGCQGJCQSOCQaVCQGXCQKbCQGeCQKiCQGnCQGpCQKwCQK3CQK8CQG/
	CQHDCQHHCQHJCQHOCQHSCQHWCQHaCQHcCQHeCQHhCQHrCQXzCQH5CQH7CQH+CQKFCgGL
	CgKOCgGRCgGUCgGZCgGdCgGhCgGpCgOvCgGxCgG1CgG6CgG9CgHDCgHFCgTLCgHRCgHW
	CgLZCgHfCgHmCgHqCgHuCgH0CgH3CgL7CgGDCwONCwGYCwKcCwKjCwGlCwKrCwKwCwGy
	CwG1CwG5CwHBCwHECwLHCwHQCwHZCwLfCwLlCwHtCwHvCwL5CwH7CwH+CwGADAGCDAGH
	DAGZDAWzDAG2DAG7DAG+DAHEDAHIDAHPDAPZDAHdDAHhDAHjDAHvDAH3DAH5DAKDDQKJ
	DQGRDQGWDQGaDQGjDQGtDQGwDQGzDQS4DQHADQHEDQHGDQHPDQHSDQHYDQHkDQHtDQHv
	DQHxDQH8DQGGDgGPDgGVDgGXDgGaDgGiDgGlDgGqDgGuDgG2DgHCDgHIDgHKDgLNDgHV
	DgHXDgHhDgL3DgH/DgGEDwGAA9IYGRobWiRjbGFzc25hbWVYJGNsYXNzZXNdTlNNdXRh
	YmxlRGF0YaMaHB1WTlNEYXRhWE5TT2JqZWN00hgZHyBfEBFOU011dGFibGVJbmRleFNl
	dKMhIh1fEBFOU011dGFibGVJbmRleFNldFpOU0luZGV4U2V0AAgAEQAaACQAKQAyADcA
	SQBMAFEAUwBZAF8AZgBzAHoAhgCJAIsAjQCSAJoEDQQPBBQEHwQoBDYEOgRBBEoETwRj
	BGcEewAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAAAAAAAASG
	</data>
</dict>
</plist>
